@import "tailwindcss";

/* Smooth scroll global */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}