@import "tailwindcss";

/* THEME */
:root {
  --color-dark-blue: #1e3a5f;
  --color-accent-pink: #e11d48;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-gray-text: #94a3b8;
}

/* Style global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-slate-900);
  color: white;
  font-family: 'Arial', sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-slate-800);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-pink);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}

